<table>
  <thead>
  <h3> お気に入り一覧</h3>

  <button type="button" class="btn btn-primary"> <%= link_to 'New Post', new_post_path %></button>
  </thead>

  <tbody>
            <% @likes.each do |p| %>
            <tr> 
            <% if  current_user.id == p.user_id%> 
              <td><%= p.title %></td>
              <td><%= p.user.name %></td>
              <td><%= p.content %></td>
              <td><%= p.image%></td></td>
              <td><%=image_tag (p.image.url), size: '320x240' if p.image && p.image.url%></td>
            
            <%end%>
              </tr>
            <%end%>
  </tbody>
</table>